<div class="col-sm">
    <div>Liczba produktów:  {{quantity}}</div>
    
    <div *ngIf="router.url === '/koszyk'"> 
        <h2>Stan koszyka:</h2>
        <br>
    
        <div  *ngFor="let k of cart" class="border border-primary">
            
            <p>id: {{k.id}}</p>
            <p>produkt: {{k.fk_product}}</p>
            <p>ilosc: {{k.product_quantity}}</p>
            <p>cena: {{k.fk_product}}</p>
            
        </div>
    </div>
    
    <button class="btn btn-secondary btn-lg active" (click)="onDelete()" >Wyczyść koszyk</button>
    </div>