<mat-toolbar color="primary">
    <app-menu></app-menu>
    <mat-icon> work </mat-icon>
    <a routerLink="">
       
        <div class="title"> Grzegorz Stich - Aplikacja biznesowa </div>
        <div class="titleMini">G.S. - Applikacja</div>
    </a>
    <span class="example-spacer"></span>

    
        <button *ngIf="isLogged()" mat-mini-fab class="cartBtn" color="primary">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    <a routerLink="logowanie">
        <button mat-raised-button *ngIf="!isLogged()" class="logBtn" color="primary">
           Zaloguj
        </button>
        <button *ngIf="isLogged()" mat-raised-button class="logBtn" color="primary" (click)="logout()">
           Wyloguj
        </button>
    </a>
</mat-toolbar>






<router-outlet></router-outlet>