<mat-grid-list cols="1" rowHeight="3em">
    <mat-grid-tile>
        <a routerLink="produkty">
            <button mat-raised-button color="primary">
                <span class="material-icons">
                    inventory
                </span>
                <span>Produkty</span>
            </button>
        </a>     
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="koszyk">
            <button mat-raised-button color="primary">
                <span class="material-icons">
                    shopping_cart
                    </span>
                <span>Zamówienia</span>
            </button>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary">
            <span class="material-icons">
                people
                </span>
            <span>Użytkownicy</span>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        
    </mat-grid-tile>
</mat-grid-list>